/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body, html {
  margin:0;
  padding:0;
}
.container{
  height:100%;
  width:100%;
}
#top-nav{
  top:0;
  position: fixed;
  width:100%;
  height:6%;
  background-color: gray;
}
#img-div{
    position:fixed;
    top: 54%;
    left: 50%;
    width:30em;
    height:15%;
    margin-top: -15em; /*set to a negative number 1/2 of your height*/
    margin-left: -10em; /*set to a negative number 1/2 of your width*/

}
#search-form{
    position:fixed;
    top: 54%;
    width:100%;
    height:15%;
    margin-top: -5em; /*set to a negative number 1/2 of your height*/
    background-color: aqua;
}
.input-field{
  height:40px;
  width: 60%;
  margin-left: 20%;
}

#bot-nav{
  height:6%;
  width:100%;
  background-color: gray;
  bottom:0;
  position:fixed;
}

